name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        compiler: [g++-11, clang++-14, msvc]
        exclude:
          - os: windows-latest
            compiler: g++-11
          - os: windows-latest
            compiler: clang++-14
          - os: macos-latest
            compiler: msvc
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup C++ Compiler
      run: |
        if [ "${{ matrix.compiler }}" = "g++-11" ]; then
          sudo apt-get update
          sudo apt-get install g++-11
          echo "CXX=g++-11" >> $GITHUB_ENV
        elif [ "${{ matrix.compiler }}" = "clang++-14" ]; then
          sudo apt-get update
          sudo apt-get install clang-14
          echo "CXX=clang++-14" >> $GITHUB_ENV
        fi
    
    - name: Build and Test
      run: |
        $CXX -std=c++17 -O3 -DFYX_MAIN -o test_fyx include/fyx_sort.hpp
        ./test_fyx || .\test_fyx.exe
